{
  "presets": [
    "es2015"
  ],
  "env": {
    "test": {
      "presets": [
        "stage-0"
      ],
      "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs",
        "transform-export-extensions"
      ]
    },
    "development": {
      "presets": []
    }
  },
  "ignore": [
    "node_modules/**",
    "dist"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-modules-commonjs",
    "transform-export-extensions"
  ]
}
