.xm-footer-opver-add {
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    &:hover {
        color: $primary;
    }
}
