.handsontable th.ht__highlight {
    background-color: #e6f0ff;
}
.handsontable th {
//background-color: #ffffff;
    background-color: #f7f7f7;
//color: #5292f7;
    font-weight: normal;
    white-space: nowrap;
}
.handsontable td {
    color: #333333;
    white-space: pre;
}
.wtSpreader {
}

.htCore {
    thead {
        visibility: hidden;
    }
    tbody {
        tr {
            & > th {
                visibility: hidden;
                vertical-align: middle;
            }
            td {
                font-size: 9pt;
                vertical-align: middle;
            }
        }
    }
}

.ht_clone_top.handsontable {
    thead {
        visibility: visible !important;
        font-size: 9pt;
    }
    .wtHolder .wtHider .htCore tbody tr:last-child {
        td {
            border-bottom: 3px solid #cbcbcb;
        }
    }
}
.ht_clone_top_left_corner.handsontable {
    .wtHolder .wtHider .htCore tbody tr {
        td:last-child {
            border-right: 3px solid #cbcbcb;
        }
    }
    .wtHolder .wtHider .htCore tbody tr:last-child {
        td {
            border-bottom: 3px solid #cbcbcb;
        }
    }
}
.ht_clone_left.handsontable {
    tbody {
        tr {
            & > th {
                visibility: visible !important;
                font-size: 9pt;
            }
        }
    }
    .wtHolder .wtHider .htCore tbody tr {
        td:last-child {
            border-right: 3px solid #cbcbcb;
        }
    }
}

.ht_clone_top_left_corner.handsontable {
    thead {
        visibility: visible !important;
    }
}
