.dxeditor-set-size-dialog {
    width: 400px;
    .dxeditor-set-size-body {
        p {
            font-size: 14px;
            margin-bottom: 8px;
            color: #7d7d7d;
        }
        height: 85px;
    }
    .dxeditor-set-size-footer {
        text-align: right;
        input:last-child {
            margin-left: 10px;
        }
        input {
            width: 100px;
        }
    }
}