@import "variables";

.dx-formula {
    border-style: dashed;
}

.dx-sh-filter-td-dropdown {
    padding-right: 14px !important;
}

.dx-filter-dropdown {
    height: 100%;
    width: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    i {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 12px;
        height: 15px;
        cursor: pointer;
        &:hover {
            color: $primary-color;
        }
    }

}

.htCore {
    td {
        position: relative;
        height: auto;
    }
}