@import "variables";

@font-face {
    font-family: '#{$iconfont-css-prefix}';
    src: url('#{$icon-url}.eot');
    src: url('#{$icon-url}.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-url}.woff') format('woff'),
    url('#{$icon-url}.ttf') format('truetype'),
    url('#{$icon-url}.svg#dxicon') format('svg');
}

@mixin iconfont-mixin {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    font-size: 14px;

    &:before {
        display: block;
        font-family: "docicon" !important;
    }
}

.#{$iconfont-css-prefix} {
    @include iconfont-mixin;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.#{$iconfont-css-prefix}-undo:before {
    content: "\e697";
}

.#{$iconfont-css-prefix}-redo:before {
    content: "\e688";
}

.#{$iconfont-css-prefix}-ol:before {
    content: "\e68f";
}

.#{$iconfont-css-prefix}-ul:before {
    content: "\e691";
}

.#{$iconfont-css-prefix}-right-indent:before {
    content: "\e690";
}

.#{$iconfont-css-prefix}-left-indent:before {
    content: "\e698";
}

.#{$iconfont-css-prefix}-right-align:before {
    content: "\e656";
}

.#{$iconfont-css-prefix}-left-align:before {
    content: "\e658";
}

.#{$iconfont-css-prefix}-center-align:before {
    content: "\e657";
}

.#{$iconfont-css-prefix}-justify-align:before {
    content: "\e696";
}

.#{$iconfont-css-prefix}-strike:before {
    content: "\e692";
}

.#{$iconfont-css-prefix}-underline:before {
    content: "\e68e";
}

.#{$iconfont-css-prefix}-italic:before {
    content: "\e694";
}

.#{$iconfont-css-prefix}-clear:before {
    content: "\e68a";
}

.#{$iconfont-css-prefix}-bold:before {
    content: "\e686";
}

.#{$iconfont-css-prefix}-format:before {
    content: "\e687";
}

.#{$iconfont-css-prefix}-vertical:before {
    content: "\e625";
}

.#{$iconfont-css-prefix}-color:before {
    content: "\e68c";
}

.#{$iconfont-css-prefix}-background:before {
    content: "\e695";
}

.#{$iconfont-css-prefix}-image:before {
    content: "\e639";
}

.#{$iconfont-css-prefix}-ren:before {
    content: "\e6a2";
}

.#{$iconfont-css-prefix}-link:before {
    content: "\e602";
}

.#{$iconfont-css-prefix}-triangle:before {
    content: "\e689";
}

.#{$iconfont-css-prefix}-comment:before {
    content: "\e63d";
}

.#{$iconfont-css-prefix}-comment-switch:before {
    content: "\e63f";
}

.#{$iconfont-css-prefix}-delete-comment:before {
    content: "\e63e";
}

.#{$iconfont-css-prefix}-h1:before {
    content: "\e93a";
}

.#{$iconfont-css-prefix}-h2:before {
    content: "\e628";
}

.#{$iconfont-css-prefix}-h3:before {
    content: "\e93b";
}

.#{$iconfont-css-prefix}-todo:before {
    content: "\e63b";
}

.#{$iconfont-css-prefix}-lineheight:before {
    content: "\e642";
}

.#{$iconfont-css-prefix}-table:before {
    content: "\e6a1";
}

.#{$iconfont-css-prefix}-up-arrow:before {
    content: "\e604";
}

.#{$iconfont-css-prefix}-down-arrow:before {
    content: "\e603";
}

.#{$iconfont-css-prefix}-right-arrow:before {
    content: "\e605";
}

.#{$iconfont-css-prefix}-comment-close:before {
    content: "\e643";
}

.#{$iconfont-css-prefix}-comment-open:before {
    content: "\e645";
}

.#{$iconfont-css-prefix}-find:before {
    content: "\e64d";
}

.#{$iconfont-css-prefix}-merge-cell:before {
    content: "\e6eb";
}

.#{$iconfont-css-prefix}-comment:before {
    content: "\e62b";
}

.#{$iconfont-css-prefix}-filter:before {
    content: "\e7c4";
}

.#{$iconfont-css-prefix}-formula:before {
    content: "\e65d";
}

.#{$iconfont-css-prefix}-fill-color:before {
    content: "\e951";
}

.#{$iconfont-css-prefix}-drop-down:before {
    content: "\e6fe";
}

.#{$iconfont-css-prefix}-vertical-top:before {
    content: "\e655";
}

.#{$iconfont-css-prefix}-vertical-middle:before {
    content: "\e654";
}

.#{$iconfont-css-prefix}-vertical-bottom:before {
    content: "\e652";
}

.#{$iconfont-css-prefix}-text-overflow:before {
    content: "\e65c";
}

.#{$iconfont-css-prefix}-text-wrap:before {
    content: "\e65a";
}

.#{$iconfont-css-prefix}-sort-asc:before {
    content: "\e651";
}

.#{$iconfont-css-prefix}-freeze:before {
    content: "\e64e";
}

.#{$iconfont-css-prefix}-check-mark:before {
    content: "\e6a7";
}

.#{$iconfont-css-prefix}-save:before {
    content: "\e65e";
}

