.dx-filter-layer {
    padding: 15px 20px;
    color: rgb(51, 51, 51);
    .dx-filter-header {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .dx-filter-select-container {
        text-align: right;
        padding: 10px 0;
    }
    .dx-filter-value-list {
        height: 150px;
        width: 175px;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid #a7abb0;
        border-radius: 3px;
        padding: 5px 10px;
        li {
            font-size: 12px;
            white-space: nowrap;
            word-wrap: normal;
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            clear: fix;
            &:hover {
                .ant-checkbox-inner {
                    border-color: $primary-color;
                }
            }
            .dx-list-item-count {
                float: right;
                color: #cccccc;
            }
        }
    }
    .dx-filter-footer {
        margin-top: 10px;
        text-align: right;
        button:first-child {
            margin-right: 10px;
        }
    }

}

.dx-find-replace-layer {
    padding: 15px 16px;
    background: #fff;
    border-radius: 3px;
    width: 432px;
    box-sizing: border-box;
    margin: auto;
    z-index: 9;
    cursor: move;
    user-select: none;
    display: flex;
    flex-direction: row;
    button {
        margin-left: 20px;
        width: 25px;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
        .docicon-close {

        }
    }
}

.dx-excel-layer.dx-more-formula-layer-wrap {
    right: 0;
    bottom: 0;
    left: auto;
    background: #FFFFFF;
    box-shadow: 0 1px 6px #ccc;
    margin-right: 20px;
    top: 98px;
    width: 298px;
    padding: 15px 20px;
    font-size: 12px;
    .dx-more-formula-layer {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #333;
        .fp-header {
            padding-bottom: 9px;
            border-bottom: 1px solid #ccc;
            font-weight: bold;
        }
        .fp-search {
            margin: 12px 0;
        }
        .fp-list {
            overflow-y: auto;
            overflow-x: hidden;
            flex: 1;
            margin: 0 -20px;
        }
        .fp-item {
            padding: 20px 20px;
            cursor: pointer;
            &:hover{
                background-color: #f7f7f7;
            }
            .fp-name {
                font-size: 14px;
            }
            .fp-desc {
                color: #999;
                font-size: 12px;
            }
        }
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        border: none;
        outline: none;
    }
}