.dx-excel-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.dx-excel-header {
    background-color: #f7f7f7;
    position: relative;
    z-index: 200;
}

.dx-excel-header-editor {
    height: 25px;
    font-size: 12px;
    border-top: 1px solid #d1d1d1;
    background-color: #f7f7f7;
    //background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    .dx-left-label {
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 2px;
        .dx-left-label-inner {
            display: inline-block;
            border-right: 1px solid #d8d8d8;
            width: 50px;
            img {
                width: 12px;
            }
        }
    }
    .dx-fx-editor {
        position: relative;
        flex: 1;
        padding: 2px 10px;
        input {
            width: 100%;
            height: 20px;
            line-height: 20px;
            outline: none;
            border: none;
            //background-color: #f7f7f7;
            background-color: #ffffff;
            font-size: 14px;
            //&:focus{
            //    background-color:#ffffff;
            //}
        }
    }
}

.dx-excel-body {
    flex: 1;
    background: #FFFFFF;
}

.dx-excel-footer {
    border-top: 1px solid #d1d1d1;
    height: 28px;
    padding-left: 50px;
    font-size: 14px;
    background: #f7f7f7;
    button {
        background: transparent;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 0px;
        color: #666;
        font-size: 12px;
        outline: none;
        i {
            font-size: 12px;
        }
        &:hover {
            border: 1px solid #CCCCCC;
        }
        margin-right: 20px;
    }
    a {
        &.active {
            background-color: #fff;
            cursor: default;
            border-color: #aaa;
            border-top-color: #fff;
            //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            font-weight: normal;
            z-index: 104;
            border-bottom: 2px solid #000000;
        }
        display: inline-block;
        position: relative;
        color: #666;
        background-color: #f7f7f7;
        border-color: #ccc;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        vertical-align: top;
        outline: none;
        height: 24px;
        user-select: none;
        border-left: 1px solid #aaa;
        padding: 0px 17px;
        margin: 0 0 0px 0;
        min-width: 30px;
        border-radius: 0 0 2px 2px;
        line-height: 24px;
        &:last-child{
            border-right: 1px solid #aaa;
        }
    }
}

#dx-excel-layers-container {
    position: absolute;
    z-index: 1000;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-button {
    //height: 12px;
    //width: 12px;
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track{
    border: 1px solid #d9d9d9;
}
::-webkit-scrollbar-track:horizontal{
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #e2e2e2;
    cursor: pointer;
    &:hover{
        cursor: pointer;
        background-color: #d3d3d3;
    }
}