.dx-excel-toolbar {
    height: 46px;
    margin-right: 20px;
    padding-left: 50px;
    padding-top: 10px;
    //background-color: #FFFFFF;
    background-color: #f7f7f7;
    position: relative;
    color: #575757;

    .dropdown-btn-wrap {
        position: relative;
        cursor: pointer;
        color: #575757;
        height: 26px;
        display: inline-block;
        border: 1px solid transparent;
        top: 2px;
        padding-bottom: 1px;
        span {
            position: relative;
            top: -1px;
            font-size: 12px;
            margin-left: -4px;
            margin-right: 2px;
        }
        .dx-icon {
            position: relative;
            top: -2px;
        }
        .dropdown-btn {
            font-size: 26px;
        }
        .docicon-triangle {
            position: relative;
            margin-left: -5px;
        }
        &.btn-disable {
            color: #888888;
        }
        &:hover {
            border: 1px solid #d8d8d8;
            //color: #5292f7;
        }
        &.active {
            background: #e5e5e5;
            border: 1px solid #d8d8d8;
        }
    }

    .docicon {
        font-size: 15px;
    }
    .docicon-undo,
    .docicon-redo {
        position: relative;
        top: -2px;
    }
    .xm-header,
    .xm-size,
    .xm-lineheight {
        border: 1px solid #f7f7f7;
        &:hover {
            border: 1px solid #CCCCCC;
        }
    }
    button {
        background: none;
        cursor: pointer;
        display: inline-block;
        height: 26px;
        width: 26px;
        padding: 0;
        outline: none;
        margin-right: 8px;
        border: 1px solid transparent;
        border-radius: 2px;
        line-height: 5px;
        vertical-align: middle;
        color: #575757;
        &.btn-disable {
            color: #888888;
        }
        &:hover {
            border: 1px solid #d8d8d8;
            //color: #5292f7;
        }
        &.active {
            background: #e5e5e5;
            border: 1px solid #d8d8d8;
        }
    }
}

.ant-dropdown-menu-root {
    .ant-dropdown-menu-item {
        position: relative;
        padding: 0 55px 0 17px;
        color: #333333;
        .docicon {
            font-size: 26px;
        }
        .docicon.docicon-check-mark {
            font-size: 12px;
            position: absolute;
            right: 17px;
            top: 7px;
        }

        &:hover{
            background-color: $hover-color;
        }
    }
    .ant-dropdown-menu-item-disabled {
        .formula-menu-item {
            opacity: .5 !important;
        }
    }
    .formula-menu-item {
        line-height: 30px;
        height: 30px;
        color: #000;
        font-size: 12px;
        &.sort{
            width: 70px;
            display: inline-block;
        }
    }
}

.find-replace-wrap {
    width: 430px;
    padding: 15px 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .15);
    border-radius: 3px;
    box-sizing: border-box;
    user-select: none;
}