.xm-dialog-mark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .6);
    z-index: 1000;
}

.xm-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xm-dialog-inner {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 2px;
}

.xm-dialog-header {
    padding: 0px 20px;
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    border-radius: 2px 2px 0 0;
}

.xm-dialog-body {
    padding: 0px 20px 20px 20px;
}
